{% load zendesk_challenge_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zendesk Challenge</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link href='{% static "zendesk_challenge/css/style.css" %}' rel="stylesheet">
</head>
<body style="background: url('{% static "zendesk_challenge/images/main-bg.png" %}') repeat scroll 0 0;">
    <div class="wrapper">
        <div class="section">
            <div class="heading"><h2>ABOUT ME</h2></div>
            <div class="content">
                <div>
                    Arnav is a Master's of Data Science student at Monash University, Melbourne and a B.Tech Information Technology graduate from Manipal Institute of Technology, Karnataka.
                </div>
                <div>
                    With professional experience in Web Development, Android Application Development and Java Backend Development, Arnav is proficient in working with HTML5, CSS3, JavaScript, Angular, ReactJS, Django, d3.js, Highcharts, Java and Android Studios. He also has experience working with cloud services like AWS and Google Cloud.
                </div>
                <div>
                    Garnering work experience from the corporate firms of all sizes (BlackRock Services - a leading global asset management firm, Bharti Airtel - a national giant in the telecom industry , Qwikcilver - a mid-sized Amazon-funded gifting solutions company and InLogg - a logistics solution startup), Arnav is a motivated individual driven by the fascination of technology and the urge to make a difference in the technology world.
                </div>
                <div>
                    To know more about me, visit my website <a href="http://arnav58.github.io/Resume/" target="_blank">here</a>.
                </div>
            </div>
        </div>
        <div class="section" style="margin-bottom: 48px;">
            <div class="heading"><h2>ABOUT THE APPROACH</h2></div>
            <div class="content">
                <div>
                    Looking at the data, it was easy to interpret that it is sourced from a forum where users post questions and seek answers from other users. On a closer look, I was able to infer that the rows with Label '1' were answers which were useful and rows with Label '0' could be overlooked since they did not contain relevant information.
                </div>
                <div>
                    I decided to query Google for each of the questions, which were supposedly correctly answered with useful information, using the <a href="https://github.com/abenassi/Google-Search-API" target="_blank">Google-Search-API</a> library and then calculate the cosine similarity between the answers provided in the document and the results fetched by the google search api.
                </div>
                <div>
                    Using these cosine similarity values, I then classified how accurately were the questions being answered, helping us determine the reliability of the forum answers and the users answering the posts.
                </div>
                <div>
                    The code for this approach can be found at this <a href="https://github.com/arnav58/zendesk_challenge" target="_blank">github repository</a>. The steps to run this code locally are in the readme.nd file for this repository.
                </div>
            </div>
        </div>
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        <div class="section" style="margin-bottom: 80px;">
            <div class="heading"><h2>FUTURE WORK</h2></div>
            <div class="content">
                <div>Given more time, I wanted to do a topical classification on this data and find out what were the most common topics being posted about on the forum by following <a href="https://www.machinelearningplus.com/nlp/topic-modeling-visualization-how-to-present-results-lda-models/" target="_blank">this guide</a>.</div>
                <div>I attempted this but could not integrate this with the highcharts output because of the stipulated time. I did, however, implement it in python and plotted a word cloud using <code>matplotlib</code></div>
                <div>Integrating this would have been easy using the Highcharts <a href="https://www.highcharts.com/demo/wordcloud" target="_blank">word cloud plot</a></div>
                <div><img src="{% static 'zendesk_challenge/images/word_cloud.PNG' %}" style="display: block; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
    // Build the chart
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Accuracy of answers on forum'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Percentages',
            colorByPoint: true,
            data: [{
                name: '0%-10%',
                y: {{ similarity_data|get_item:"0-10" }}
            },
            {
                name: '10%-20%',
                y: {{ similarity_data|get_item:"10-20" }}
            },
            {
                name: '20%-30%',
                y: {{ similarity_data|get_item:"20-30" }}
            },
            {
                name: '30%-40%',
                y: {{ similarity_data|get_item:"30-40" }}
            },
            {
                name: '40%-50%',
                y: {{ similarity_data|get_item:"40-50" }}
            },
            {
                name: '50%-60%',
                y: {{ similarity_data|get_item:"50-60" }}
            },
            {
                name: '60%-70%',
                y: {{ similarity_data|get_item:"60-70" }}
            },
            {
                name: '70%-80%',
                y: {{ similarity_data|get_item:"70-80" }}
            },
            {
                name: '80%-90%',
                y: {{ similarity_data|get_item:"80-90" }}
            },
            {
                name: '90%-100%',
                y: {{ similarity_data|get_item:"90-100" }}
            }]
        }]
    });
</script>
</html>